In [1]:
import numpy as np
import pandas as pd

In [2]:
patients = pd.read_csv('state_wise_daily_data.csv')

In [4]:
patients.head()

,Date,Date_YMD,Status,Total,Hospitalized,Recovered,Deceased,Mask,Sanitizer,Oxygen,...,RJ,SK,TN,TG,TR,UP,UT,WB,UN,State
0,14-Mar-20,14-03-2020,Confirmed,81,12,120,0,10,60,48,...,3,0,1,1,0,12,0,0,0,Maharashtra
1,14-Mar-20,14-03-2020,Recovered,9,25,5,2,20,1,38,...,1,0,0,0,0,4,0,0,0,Maharashtra
2,14-Mar-20,14-03-2020,Deceased,2,85,10,4,30,0,0,...,0,0,0,0,0,0,0,0,0,Maharashtra
3,15-Mar-20,15-03-2020,Confirmed,27,89,15,0,40,41,57,...,1,0,0,2,0,1,0,0,0,Maharashtra
4,15-Mar-20,15-03-2020,Recovered,4,10,5,21,50,4,55,...,2,0,0,1,0,0,0,0,0,Maharashtra

In [5]:
patients['Status'].value_counts()

Confirmed    597
Recovered    597
Deceased     597
Name: Status, dtype: int64

In [9]:
total = patients.shape[0]
active = patients[patients['Status'] == 'Confirmed'].shape[0]
recovered = patients[patients['Status'] == 'Recovered'].shape[0]
deaths = patients[patients['Status'] == 'Deceased'].shape[0]

In [10]:
print(total)
print(active)
print(recovered)
print(deaths)

1791
597
597
597